@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');


:root{
    --primarycolor: #FCE101;
    --secondarycolor: #101010;
    --font1: "Mulish", serif;
    --font2: "Roboto", serif;
    --font3: "Roboto Condensed", serif;
    --font4: "Poppins", serif;
    --font5: "Heebo", serif;
    --nav_link_hover: #fce30189;
    --bg-color-1: #ffffff;
    --bg-color-2: #F3F3F3;
}


#about{
padding-top: 15vh;
}


#about-section-1{
    background-image: url("../../Assests//bg.png");
    background-repeat: no-repeat;
    background-size: cover;
   padding-top: 80px;
   padding-bottom: 80px;
   display: flex;
   flex-direction: column;
   align-items: center;
}


#about-section-1-div-1-h6-1{
    font-family: var(--font2);
font-size: 42px;
font-weight: 700;
color: var(--bg-color-1);
}


#about-section-1-div-1-p-1{
    font-family: var(--font5);
    font-size: 20px;
    font-weight: 500;    
    color: var(--bg-color-1);
    text-align: center;
}

#about-section-1-div-1-p-1-span{
    color: var(--primarycolor);
}